html, body {
    min-height: 100% !important;
    height: 100%;
}

body {
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

.w3-jumbo {
    font-weight: 500;
}

.w3-bar, h1, button {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.orange-gradient {
    background: linear-gradient(-45deg, rgba(255, 102, 0, 1), rgba(255, 158, 0, 1));
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
}

.dark-gray {
    background: #1D1E22;
    color: rgb(255, 102, 0);
    color: linear-gradient(0deg, rgba(255, 102, 0, 1) 0%, rgba(255, 158, 0, 1) 69%);
}

.animated-darkwall {
    background: url(dark_wall.png) repeat 0 0;
    background-size: 20%;
    -webkit-animation: slide-td 20s linear infinite;
}

.animated-darkorange {
    background: url(darkness.png) repeat 0 0;
    background-size: 20%;
    -webkit-animation: slide-td 20s linear infinite;
}

.animated-darkgreen {
    background: url(darknessGreen.png) repeat 0 0;
    background-size: 20%;
    -webkit-animation: slide-td 20s linear infinite;
}

.animated-darkblue {
    background: url(darknessBlue.png) repeat 0 0;
    background-size: 25%;
    -webkit-animation: slide-td 20s linear infinite;
}

.darkwall {
    background: url(dark_wall.png) repeat 0 0;
}

.animated-darkstripe-rl {
    background: url(stripes-light.png) repeat 0 0;
    background-size: 20%;
    -webkit-animation: slide-rl 20s linear infinite;
}

.animated-darkstripe-lr {
    background: url(stripes-light.png) repeat 0 0;
    background-size: 20%;
    -webkit-animation: slide-lr 20s linear infinite;
}

.animated-leather {
    background: url(dark_leather_@2X.png) repeat 0 0;
    background-size: 20%;
    -webkit-animation: slide-td 20s linear infinite;
}

.border-top {
    border-top: 3px solid rgba(204, 204, 204, .2);
    margin: auto;
    max-width: 70vw;
}

.full {
    width: 100%;
    height: 100%;
    margin: auto;
}

.shoe {
    margin: auto;
    height: 50%;
    width: 60%;
    -webkit-animation: spin 4s linear infinite;
}

.w3-third {
    max-height: 100%;
}

.w3-twothird {
    max-height: 100%;
}

.opacity {
    background-color: rgba(255, 255, 255, 0.05);
}

.logo {
    max-height: 20px;
}

img {
    height: 100%;
    object-fit: contain;
}

.card {
    align-items: center;
    display: flex;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 50px;
    background-color: black;
    overflow: hidden
}

@media only screen and (max-width: 768px){
    .card {
        max-width: 100%;
        border-radius: 0;
        padding: 25px 25px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

header {
    height: 100vh;
    display: flex;
    flex-flow: row ;
    align-items: center;
    justify-content: center;
}

.header {
    width: 50%;
}

.center {
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
}

.shake {
    animation: shake 1s linear infinite;
}

@-webkit-keyframes slide-rl {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 0;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes slide-lr {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 1000px 0;
    }
}

@-webkit-keyframes slide-td {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 1000px;
    }
}

@-webkit-keyframes spin {
    from {}
    to {
        transform: rotate(-360deg);
    }
}

@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.05em);
        transform: translateX(0.05em) rotate(0deg);
    }
    0%, 10%, 30%, 40%, 50%, 70%, 80%, 90%, 100% {
        filter: blur(0.00em);
        transform: translateX(-0.05em) rotate(0deg);
    }
}